//--------------------------------------------------------------
.footer {
  padding: 20px 0px 40px 0px;
  background-color: #0c0c0e;
  color: #fff;

  @media (max-width: $mobile) {
    @include adaptiveValue('padding-top', 20, 10, 767.98, 320);
    @include adaptiveValue('padding-bottom', 40, 20, 767.98, 320);
  }

  &__container {
  }

  &__body {
    display: flex;
    flex-direction: column;
  }

  &__row {
    display: flex;
    justify-content: space-between;
  }

  &__column {
    flex: 0 0 50%;

    &.footer-column-right {
      .footer__text {
        max-width: none;
        text-align: right;

        &:not(:last-child) {
          margin: 0px 0px 10px 0px;
        }
      }
    }
  }

  &__text {
    max-width: 230px;
    font-size: 15px;
    line-height: 20px;

    @media (max-width: $mobile) {
      @include adaptiveValue('font-size', 15, 12, 767.98, 320);
      @include adaptiveValue('line-height', 20, 15, 767.98, 320);
    }
  }

  &__icons {
    padding: 18px 0px 0px 0px;
    display: flex;
    gap: 15px;

    @media (max-width: $mobile) {
      @include adaptiveValue('padding-top', 18, 10, 767.98, 320);
      @include adaptiveValue('gap', 15, 10, 767.98, 320);
    }
  }

  &__divider {
    margin: 40px 0;
    width: 100%;
    height: 1px;
    background-color: #fff;

    @media (max-width: $mobile) {
      @include adaptiveValue('margin-top', 40, 15, 767.98, 320);
      @include adaptiveValue('margin-bottom', 40, 15, 767.98, 320);
    }
  }

  &__copyright {
    flex: 1 1 auto;
    text-align: center;
    line-height: 20px;
    letter-spacing: 2px;

    @media (max-width: $mobile) {
      @include adaptiveValue('font-size', 20, 12, 767.98, 320);
      @include adaptiveValue('letter-spacing', 2, 1, 767.98, 320);
    }

    a {
      position: relative;

      &::after {
        content: '';
        position: absolute;
        width: 100%;
        height: 1px;
        bottom: -1px;
        left: 0;
        background-color: #fff;
      }
    }
  }
}
.icons {
  &__icon {
    img {
      width: 24px;
      height: 24px;
      object-fit: cover;

      @media (max-width: $mobile) {
        @include adaptiveValue('width', 24, 20, 767.98, 320);
        @include adaptiveValue('height', 24, 20, 767.98, 320);
      }
    }
  }
}

//--------------------------------------------------------------
