@import '../base/swiper';

.about {
  padding: 20px 0px 40px 0px;

  @media (max-width: $mobile) {
    @include adaptiveValue('padding-bottom', 40, 20, 767.98, 320);
  }

  &__container {
  }

  &__body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  &__title {
  }

  &__text {
    padding: 0px 0px 20px 0px;
    text-align: center;
    line-height: 2;

    @media (max-width: $mobile) {
      @include adaptiveValue('font-size', 20, 16, 767.98, 320);
    }
  }

  &__slider {
    position: relative;
  }
}
.section-title {
  margin: 0px 0px 60px 0px;

  color: #0c0c0e;
  font-family: 'Forum';
  font-size: 40px;
  letter-spacing: 2px;
  text-transform: capitalize;

  position: relative;

  &::after {
    content: '';
    position: absolute;
    width: 50px;
    height: 1px;
    bottom: -20px;
    left: 0;
    right: 0;
    margin: 0 auto;
    background-color: #0c0c0e;
  }

  @media (max-width: $mobile) {
    @include adaptiveValue('font-size', 40, 25, 767.98, 320);
    @include adaptiveValue('margin-bottom', 60, 25, 767.98, 320);

    &::after {
      @include adaptiveValue('bottom', -20, -10, 767.98, 320);
    }
  }
}

$slideSize: 450px;
$slideMinSize: ($minWidth - $containerPadding) + px;

.slider {
  &__body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  &__swiper {
    position: relative;
  }
}
.swiper {
  &__wrapper {
    max-width: calc($slideSize * 3 + 25px * 2);

    @media (max-width: 1439.98px) {
      max-width: calc($slideSize * 2 + 25px);
    }

    @media (max-width: $tablet) {
      max-width: $slideSize;
    }

    @media (max-width: $mobileSmall) {
      @include adaptiveValue('max-width', 360, 290, 479.98, 320);
    }
  }

  &__slide {
    max-width: $slideSize;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }

    @media (max-width: 1439.98px) {
      &.pc-slide-hide {
        display: none;
      }
    }

    @media (max-width: $tablet) {
      &.tablet-slide-hide {
        display: none;
      }
    }
  }

  &__navigation {
    // position: relative;
    @media (max-width: $mobile) {
      // display: none;
    }
  }

  &__button {
    display: none;
    position: absolute;
    width: 60px;
    height: 60px;

    top: 45%;

    background: url('@img/about/arrow.svg') center / cover no-repeat;

    @media (max-width: $tablet) {
      display: block;
    }

    @media (max-width: $mobile) {
      display: none;
    }
  }

  &__pagination {
    position: static;
    margin: 40px 0px 0px 0px;
    @include adaptiveValue('margin-top', 40, 20);
  }
}

.swiper-button-prev,
.swiper-rtl .swiper-button-next {
  left: -100px;
}

.swiper-button-next,
.swiper-rtl .swiper-button-prev {
  right: -100px;
}

.swiper-pagination-bullet {
  width: 16px;
  height: 16px;
  background-color: #0c0c0e;
  opacity: 1;

  @media (max-width: $mobile) {
    @include adaptiveValue('width', 16, 12, 767.98, 320);
    @include adaptiveValue('height', 16, 12, 767.98, 320);
  }
}
.swiper-pagination-bullet-active {
  background-color: #bb945f;
}
